<main class="main">
  {{title}}
  <button (click)="onButtonClick()" >Press Me</button>



  <button (click)="sumCounter(+1)" >+</button>
  {{counter}}
  <button (click)="sumCounter(-1)" >-</button>

  <input
  type="text"
  [(ngModel)]="newTask"
  (keyup.enter)="addNewTask()"
  placeholder="Write new task..." />
  <ul>
    <li *ngFor="let item of items; let i= index ">
     <span [ngClass]="item.completed? 'completed': ''" (click)="completeTask(item)">
      {{item.name}}
     </span>
     <span (click)="deleteTask(item)">X</span>
    </li>
  </ul>

</main>

